:global(#app) {
  .field {
    border: none;
    margin-bottom: 4px;
    outline: none;
    overflow: hidden;
    padding: 0;
    resize: none;
    width: 100%;
    color: #B6C2CF;
    background: #22272B;
  }

  .fieldWrapper {
    background: #22272B;
    border-radius: 8px;
    box-shadow: 0 1px 0 #22272B;
    margin-bottom: 8px;
    min-height: 20px;
    padding: 6px 8px 2px;
  }

  .submitButton {
    vertical-align: top;
  }

  .wrapper {
    padding-bottom: 8px;
    position: relative;
    top: 5px;
  }

  .wrapperClosed {
    display: none;
  }
}
